@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center first_block">
    <div class="container first_block_background">
        <h1 class="display-4 font-weight-bold">Механизированная штукатурка в Минске и по району</h1>
        <h3 class="font-weight-normal mt-4">Стоимость от 8 BYR/М<sup>2</sup>.</h3>
    </div>
</div>



<div class="second_block">
    <div class="container">
        <h2 class="display-4 font-weight-bold mt-5 text-center">Что входит в перечень услуг?</h2>

        <h4 class="font-weight-normal text-left">
            <img src="~/files/images/check.svg" class="d-inline-block" alt="">
            Штукатурные работы ручным / механизированным способом.
        </h4>

        <h4 class="font-weight-normal text-left">
            <img src="~/files/images/check.svg" class="d-inline-block" alt="">
            Любой вид поверхностей: стены / потолки / откосы.
        </h4>

        <h4 class="font-weight-normal text-left">
            <img src="~/files/images/check.svg" class="d-inline-block" alt="">
            Штукатурка по маякам и без.
        </h4>

        <h4 class="font-weight-normal text-left">
            <img src="~/files/images/check.svg" class="d-inline-block" alt="">
            Высококачественное и улучшенное оштукатуривание.
        </h4>

        <h4 class="font-weight-normal text-left">
            <img src="~/files/images/check.svg" class="d-inline-block" alt="">
            Оштукатуривание под обои и плитку.
        </h4>
    </div>
</div>



<div class="text-center third_block">
    <div class="container third_block_background mt-5">
        <div class="third_contact_block">
            <h5 class="font-weight-bold mt-4">Контактные данные</h5>
            <h6 class="font-weight-normal m-4 text-left">Вроде есть телефон:<br>+375 (29) 581-66-92</h6>
            <h6 class="font-weight-normal m-4 text-left">Наверное почта куриная:<br>contact.maxstroyteh@gmail.com</h6>
            <h6 class="font-weight-normal m-4 text-left">Также с нами можно связаться</h6>
            <a href="https://www.instagram.com/maxstroyteh_by/" target="_blank"><img src="~/files/Social/instagram.svg" class="footer_social_logo" alt=""></a>
            <a href="page/help.html" target="_blank"><img src="~/files/Social/whatsapp.svg" class="footer_social_logo" alt=""></a>
            <a href="page/help.html" target="_blank"><img src="~/files/Social/viber.svg" class="footer_social_logo" alt=""></a>
        </div>
    </div>
</div>


<div class="fourth_block">
    <div class="container">
        <h2 class="display-4 font-weight-bold mt-5 text-center">Как мы работаем</h2>

        <h4 class="font-weight-normal text-left">
            @*<img src="~/files/images/check.svg" class="d-inline-block" alt="">*@
            1. Ваш звонок нам или заявка
            <br>2. Выезд специалиста на обмер (считаем квадратуру вашего дома, и т.д)
            <br>3. Подписываем договор
            <br>4. Берем предоплату за материал
            <br>5. Привозим оборудование ,материал и разгружаем его.
            <br>6. Начинаем подготовку дома
            <br>7. Штукатурим стены
            <br>8. Убираем помещения где выполнялись работы
            <br>9. Производим сдачу объекта( подписываем акт приёма –сдачи выполненных работ)
            <br>10. Увозим оборудование

        </h4>

        <h4 class="font-weight-normal text-left">
            <img src="~/files/images/check.svg" class="d-inline-block" alt="">
            А бывает и совсем х**во))))).
        </h4>
    </div>
</div>




<div class="text-center first_block">
    <div class="container first_block_background">
        <h4 class="font-weight-bold  mt-5">О нас</h4>
        <h5 class="font-weight-normal mt-4">
        Мы – молодая, динамично развивающаяся компания. 
        Главные принципы нашей работы – Качество и Ответственность. 
        Цель – помощь заказчику в осуществлении его мечты. 
        Ведь за оштукатуренной стеной следует уютная детская комната или комфортабельный конференц-зал. 
        Наш опыт в строительной области показал, что на рынке наблюдается дефицит качественных услуг. 
        Открытость и безусловное внимание к потребностям наших заказчиков – залог хорошо выполненной работы и позитивных партнерских отношений. </h5>
    </div>
</div>




<div class="text-center first_block">
    <div class="container first_block_background">
        <h4 class="font-weight-bold  mt-5">Почему выбирают нас?</h4>
        <h5 class="font-weight-normal mt-4">
            1.	Индивидуальный подход
            a.	Каждый этап и нюансы будут согласованы с вами
            b.	Обеспечиваем прозрачную и гибкую систему ценообразования
            2.	Оперативность
            a.	На связи с вами 24/7 по всем производственным вопросам
            3.	Профессионализм
            a.	У нас работают опытные, квалифицированные сотрудники
            4.	Гарантия качества
            a.	Используем только проверенные материалы
            b.	Строгий контроль за производством работ
        </h5>
    </div>
</div>


<div class="text-center first_block">
    <div class="container first_block_background">
        <h4 class="display-4 font-weight-bold mt-5">ПОРТФОЛИО</h4>
        <h5 class="font-weight-normal mt-4">
            Данный раздел будет периодически обновляться.
            Мы понимаем, что фотографии не могут отразить в полной мере качество выполненных работ.
            Поэтому приглашаем вас на нашу страничку с отзывами на портал onliner.by и тд и тп<br>
            КАРТЫНКА<br>
            КАРТЫНКА<br>
            КАРТЫНКА<br>
            КАРТЫНКА<br>
            КАРТЫНКА

        </h5>
    </div>
</div>